* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.login {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width:  500px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    padding-left: 40px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: white;
    width: 20rem;
    color: black;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 40px;
}

.input::placeholder {
    color: black;
    font-size: 14px;
}

.botao {
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: white;
    border-radius: 8px;
    width: 20rem;
    padding: 5%;
    font-family: "DM Serif Display", serif;
}

a {
    text-decoration: none;
    color: white;
    font-family: "DM Serif Display", serif; 
}


.dada{
    position:fixed;
    margin-top:5%;
    margin-left:50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

}

.m1{
    margin-left: 170px;
    margin-top: 20px;
}


.peixes{
    position: fixed
    
}
